<p>
  <b>Discussion:</b>
  <%=h @comment.discussion_id %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>Poster:</b>
  <%=h @comment.poster %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
