<p>
  <b>Rated:</b>
  <%=h @rating.rated_id %>
</p>

<p>
  <b>Rated type:</b>
  <%=h @rating.rated_type %>
</p>

<p>
  <b>Rating:</b>
  <%=h @rating.rating %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
